
{{- if eq .chezmoi.os "darwin" -}}

# START - OS specific values
{{-   include ".zshrc_darwin" -}}
{{- else if eq .chezmoi.os "linux" -}}
{{-   include ".zshrc_linux" -}}
# END - OS specific values

{{- end -}}


{{- if eq .chezmoi.hostname "plata" -}}

# START - Hostname specific values
{{-   include ".zshrc_plata" -}}
# END - Hostname specific values

{{- end -}}

# START - Universal values

# Load local zshrc if it exists
# Allows for local overrides without committing to the repo
if [ -f ~/.zshrc.local ]; then
  source ~/.zshrc.local
fi

# Source machine-managed env file if it exists
if [ -f ~/.zshrc.d/.env ]; then
  source ~/.zshrc.d/.env
fi

for file in ~/.zshrc.d/*.zshrc(N); do
  source "$file"
done

# aliases
alias ll='ls -alF'
alias gpf='git commit --amend --no-edit && git push --force-with-lease'

# chezmoi aliases
# Pull latest changes from the repo and see what would change without applying 
alias chezdiff='chezmoi git pull -- --autostash --rebase && chezmoi diff'
alias chezapply='chezmoi git pull -- --autostash --rebase && chezmoi apply'

gcb() {
  local branch
  branch=$(git symbolic-ref --short HEAD 2>/dev/null) || { echo "Not in a git repo"; return 1; }
  git add -A
  git commit -sm "$branch"
  git push
}

# Ansible schmansible
export ANSIBLE_HOST_KEY_CHECKING=False

# Use starship
eval "$(starship init zsh)"

# END - Universal values
